<!DOCTYPE html>
<html>
<head>

  <!--[if IE]>
<script type="text/javascript">
window.location = "http://cctu.medschl.cam.ac.uk/rescue-asdh-IE";
</script>
<![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RESCUE ASDH Study, Stratification of COPD patients. </title>
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
     <script type="text/javascript" src="js/wf.js" defer></script>

    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- use jssor.slider.mini.js (39KB) or jssor.sliderc.mini.js (31KB, with caption, no slideshow) or jssor.sliders.mini.js (26KB, no caption, no slideshow) instead for release -->
    <!-- jssor.slider.mini.js = jssor.sliderc.mini.js = jssor.sliders.mini.js = (jssor.core.js + jssor.utils.js + jssor.slider.js) -->
  
                <header style="padding-bottom : 20px;">

    <div class="w-container">
      <div class="w-row" id="header">
        <div class="w-col w-col-4 subfooter-left">
          <a href="/"><img class="logo-in-header" style="padding-top:40px;" src="images/logoctu.jpg" alt="CUH NHS logo" width="100">
        </div>
                <div class="w-col w-col-4 boutoni2">
<a class="login-button" clearfix href="https://prod.tenalea.net/cctu/DM/default.aspx" target="_self">

            <button type="button" class="btn btn-danger btn-lg">Access Randomisation System<br> (TENALEA)</button></div> 

  <!--         <a href="/"><img class="logo-in-header" src="images/nhs.jpg" alt="CUH NHS logo" width="290">
          <div class="app-name">Cambridge Clinical Trials Unit</div></a> -->
        
       <br><div class="w-col w-col-4 w-clearfix nav-column"> <a class="login-button" clearfix href="#self" target="_self">

            <button type="button" class="btn btn-info btn-lg">Login</button>

          </a>
<!--  <img src="images/rescue.jpg" alt="RESCUE ASDH logo" width="100" height="50">
 -->        
      </div>
    </div>
</div>

<hr>
  </header>


<body>
  
 
           <div class="w-row">

           <div class="w-col w-col-12">
      <center> <img class="shared-images" src="images/rescue-asdh-logo.jpg" width="274" height="200" alt="Rescue-ASDH Logo image"></center></div> 
       
          </a></center>
        </div>
</div> 





 <div class="w-container" id="page-nav-services">
      <div class="w-row organize-row">
        <div class="w-col w-col-12">
<script> 
function blinker() {
    $('.blink_me').fadeOut(5000);
    $('.blink_me').fadeIn(5000);

}

setInterval(blinker, 10000); //Runs every second
</script>
       
                         <center><p class="app-name3 blink_me" id="erica-study">  This is an international trial and new centres are welcome to take part in the study.<br> Please contact us at <a href="mailto:info@rescueasdh.org"> info@rescueasdh.org</a> for further details.  </hp></center>
<center><p class="app-name3" id="erica-study"> RESCUE ASDH </p></center>
         <center><h4 class="app-name"> Randomised Evaluation of Surgery with Craniectomy for<br>patients  Undergoing Evacuation of Acute Subdural Haematoma </h4></center><br>

         
            RESCUE-ASDH is a multi-centre, pragmatic, parallel group randomised trial that aims to compare the clinical and cost-effectiveness of decompressive craniectomy versus craniotomy for the management of adult head-injured patients undergoing evacuation of an acute subdural haematoma (ASDH). It will commence with an internal pilot which, if successful, will be followed by the main trial. <br><br>
             <h4 class="app-name">Health Technologies Being Assesed<br><br></h4>
           Approximately two-thirds of head-injured patients undergoing emergency brain surgery have an ASDH evacuated. When an ASDH is evacuated, the bone flap can be left out or replaced prior to closing the skin. The RESCUE-ASDH trial will compare these two specific components of the operation to remove an acute subdural haematoma (i.e. bone flap left out prior to closing the skin versus bone flap replaced prior to closing the skin). Both options are widely practised and accepted but they have never been compared head-to-head in a randomised trial. When the bone flap is replaced prior to closing the skin, the operation is named craniotomy. On the other hand, when the bone flap is left out, the operation is named decompressive craniectomy (DC). The advantage of a DC is that it is effective in controlling brain swelling which is often a problem in the days after the operation. When the swelling goes down, the patient has another operation to reconstruct the skull (cranioplasty). The advantage of a craniotomy is that the patient will not need a later operation to rebuild the skull. However, it may fail to control brain swelling in some patients.<br><br>


             <h4 class="app-name">Target Population<br><br></h4>

The study is focusing on adult head injured patients who require an operation to evacuate an ASDH.<br><br>

<strong>Inclusion criteria:</strong><br>
- Adult head-injured patients (>16 years)<br>
- Acute subdural haematoma on CT*<br>
- The admitting neurosurgeon feels that the haematoma needs to be evacuated either by a craniotomy or decompressive craniectomy (bone flap at least 11 cm in both instances)*<br>
* Patients with additional lesions (e.g. intracerebral haemorrhage, contusions) can be included


<br><br>
<strong>Exclusion criteria</strong>:<br>
- Bilateral unresponsive dilated pupils of >5 mm and/or brainstem injuries on CT<br>
- Uncorrected coagulopathy<br>
- Bilateral acute subdural haematomas both requiring evacuation<br>
- Previous enrolment in RESCUE-ASDH study<br>
- Severe pre-existing physical or mental disability or severe co-morbidity which would lead to a poor outcome even if the patient made a full recovery from the head injury<br>
<br><br>
             <h4 class="app-name">Setting<br><br></h4>

Patient enrolment (including screening for eligibility and consent) will occur in hospitals with neurosurgical services in the UK and other countries around the world.
         <br><br>

                      <h4 class="app-name">Measurement of Outcomes<br><br></h4>
The primary endpoint will be the extended Glasgow Outcome Scale (GOSE) at 12 months post-injury. The use of the GOSE as a core global outcome measure is recommended by the interagency Traumatic Brain Injury (TBI) Outcomes Workgroup and the International Mission for Prognosis and Analysis of Clinical Trials in TBI group (IMPACT).

<br><br>

        <strong>The secondary endpoints are:</strong><br>
- GOSE at 6 months post-injury<br>
- Quality of life (EQ-5D) at discharge from neurosurgical unit (NSU), 6 and 12 months post-injury<br>
- Glasgow Coma Scale (GCS) on discharge from the intensive care unit (ICU) and from NSU<br>
- Length of stay in ICU, neurosurgical and rehabilitation unit<br>
- Therapy Intensity Level (IMPACT scale) in the ICU <br>
- Discharge destination from NSU<br>
- Mortality<br>
- Serious adverse events & surgical complications during index admission<br>
- Cranial surgery within 2 weeks after randomisation<br>
- Subsequent readmissions to the NSU within the 12 months follow-up period<br>
- Hydrocephalus requiring shunt insertion within the 12 months follow-up period<br>
- Health care services utilisation over 12 months<br>
- Detailed economic evaluation<br>
<br><br>
             <h4 class="app-name">Sample Size<br><br></h4>
Retrospective studies suggest a favourable outcome in about 35% of patients undergoing evacuation of ASDH. An 8% increase in the rate of favourable outcome at 12 months is a plausible and clinically important treatment effect. Based on IMPACT recommendations, our statistical analysis will use an ordinal approach based on proportional odds methodology with covariate adjustment. The calculated sample size is 990 patients (495 in each arm; 10% drop out rate) in order to detect an 8% absolute difference in favourable outcome [90% power and 2-sided significance 0.05 (35% vs 43%)]. This corresponds to being able to detect an 8% treatment effect. The choice of ordinal logistic regression is based on the results of statistical research and trials, which showed that ordinal methods can increase statistical power substantially, equivalent to allowing a reduction of over 40% in the sample size without loss of statistical power. Ordinal regression is based on the assumption that the odds ratio is the same at each cutpoint on the GOSE, an assumption that can be tested with a formal test of goodness of fit. The conventional fixed dichotomy method will be done as sensitivity analysis.
<br><br>
             <h4 class="app-name">Project Timetable <br><br></h4>
- Months 1 to 3: regulatory approvals<br>
- Months 4 to 21: internal pilot phase (120 patients)<br>
- Months 22 to 60: substantive trial (870 patients)<br>
- Months 61 to 72: follow-up<br>
- Months 73 to 77: analysis<br>


<br><br>

<center><div class="w-col w-col-12"> <a class="login-button" clearfix href="#header" target="_self">

            <button type="button" class="btn btn-info btn-lg">Back to Top</button></div> </center>

          </a>

  
</div> </div> </div> 
</body>


 <div class="section footer">
          <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>
</html>
